$default_font_family: "Poppins", sans-serif;
$secondary_font_family: "Roboto", sans-serif;
$primary_color: #fff;
$secondary_color: #000;
$main_color:#3674b5;
$primary_bg_color: #3674b5;
$third_color: #578fca;
